<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dating Website</title>
    <link href="css/dating.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid">

<!--    nav bar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand text-dark" href="#" >My Dating Website</a>
    </nav>

<div class="container-fluid bg-dark">
    <div class="row">
<!--        first column text-->
        <div class="col">
            <h1 class="text-center text-light">My Dating Website</h1><br>
            <p class="text-light text-justify">Welcome to the most ambitious dating website. At this website you'll surely find a match, someone who has the same interest as you.
            We have matched over 1000 couples over 1 month of launch, don't believe us? check out below what people say about our website.</p>
<!--            Reviews and signup portion-->
            <h2 class="text-light text-center">User Reviews</h2>
            <p class="border-top font-italic text-justify text-light m-5">"Oh this website is just great I met my partner here"<br><cite>-Andres</cite></p>
            <p class="font-italic text-justify text-light m-5">"Found someone who is interested in eating soil"<br><cite>-Birb</cite></p>
            <p class="font-italic text-justify text-light m-5 border-bottom">"I met my wife here and now I'm happily married"<br><cite>-Harold</cite></p>
            <br><br><br><h4 class="text-light">Sign up now for free!</h4>
            <div class="text-center">
            <button class="btn-primary rounded">Sign Up</button>
            </div>
        </div>
<!--        2nd column image-->
        <div class="col">
        <img src="images/dating.jpg" alt="couple" class="img-fluid m-2 rounded">
        </div>
    </div>
</div>
</div>
</body>
</html>