<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Summary</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/bb7ac2ffe5.js" crossorigin="anonymous"></script>
    <link href="css/summary.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand text-dark" href="{{@BASE}}" >My Dating Website</a>
</nav>
<h1>Summary</h1>
<hr>
<div class="container-fluid">
    <div class="row">
        <div class="col-5">
            <div class="border">Name: <check if="{{isset(@SESSION.premium)}}">{{@SESSION.premium->getFname()}} {{@SESSION.premium->getLname()}}
            <false>{{@SESSION.member->getFname()}} {{@SESSION.member->getLname()}}</false>
            </check></div>
        <div class="border">Gender: <check if="{{isset(@SESSION.premium)}}">{{@SESSION.premium->getGender()}}
            <false>{{@SESSION.member->getGender()}}</false>
        </check></div>
        <div class="border">Age: <check if="{{isset(@SESSION.premium)}}">{{@SESSION.premium->getAge()}}
            <false>{{@SESSION.member->getAge()}}</false>
        </check></div>
        <div class="border">Phone Number: <check if="{{isset(@SESSION.premium)}}">{{@SESSION.premium->getPhone()}}
            <false>{{@SESSION.member->getPhone()}}</false>
        </check></div>
        <div class="border">State: <check if="{{isset(@SESSION.premium)}}">{{@SESSION.premium->getState()}}
            <false>{{@SESSION.member->getState()}}</false>
        </check></div>
        <div class="border">Seeking: <check if="{{isset(@SESSION.premium)}}">{{@SESSION.premium->getSeeking()}}
            <false>{{@SESSION.member->getSeeking()}}</false>
        </check></div>
            <check if="{{isset(@SESSION.premium)}}">
            <div class="border">Interests: {{@SESSION.premium->getIndoorInterests()}}<br>
                {{@SESSION.premium->getOutdoorInterests()}}</div>
            </check>
        </div>
    <div class="col-6">
        <div class="container-fluid">
            <i class="fas fa-user-alt"></i><br>
            <strong>Biography</strong>
            <p class="mb-5"><check if="{{isset(@SESSION.premium)}}">{{@SESSION.premium->getBio()}}
                <false>{{@SESSION.member->getBio()}}</false>
            </check></p>
            <button class="btn-primary mt-3">Contact Me!</button>
        </div>
    </div>
    </div>

</div>
</body>
</html>